<h2>Inbox Messages</h2>

<% current_user.received_messages.each do |m| %>
    <%= link_to User.find(m.sender_id).email, "/users/#{m.sender_id}/messages/#{m.id}" %>
    <br />
<% end %>

<br /><br />
<%= button_to "Return to Dashboard", user_root_path, method: "get" %>
<%= button_to "Logout", destroy_user_session_path, method: "delete" %>