<h2>List a New Property</h2>
<br>
<%= render "property_form" %>
<br />
<%= button_to "Return to Dashboard", user_root_path, method: "get" %>
<%= button_to "Logout", destroy_user_session_path, method: "delete" %>